﻿@{
    ViewBag.Title = "Registration - Contact Details";
}

<h2>Registration</h2>

<fieldset class="fs">
    <legend>Contact Details</legend>
    <label>First Name</label><br />
    <input type="text" name="firstname" maxlength="20" required class="inputs" /><br />
    <label>Last Name</label><br />
    <input type="text" name="lastname" maxlength="40" required class="inputs" /><br />
    <label>Email</label><br />
    <input type="text" name="email" maxlength="50" required class="inputs" /><br />
    <label>Home Phone</label><br />
    <input type="text" name="homephonecountrycode" maxlength="5" required class="phoneinputs" /><input type="text" name="homephoneareacode" maxlength="5" required class="phoneinputs" /><input type="text" name="homephonenumber" maxlength="10" required class="phoneinputs" /><br />
    <label>Cell Phone</label><br />
    <input type="text" name="cellphonecountrycode" maxlength="5" required class="phoneinputs" /><input type="text" name="cellphoneareacode" maxlength="5" required class="phoneinputs" /><input type="text" name="cellphonenumber" maxlength="10" required class="phoneinputs" /><br />
    <label>Line 1</label><br />
    <input type="text" name="line1" maxlength="50" required class="addressinputs" /><br />
    <label>Line 2</label><br />
    <input type="text" name="line2" maxlength="50" required class="addressinputs" /><br />
    <label>Line 3</label><br />
    <input type="text" name="line3" maxlength="40" required class="addressinputs" /><br />
    <label>City</label><br />
    <input type="text" name="city" maxlength="30" required class="addressinputs" /><br />
    <label>Province</label><br />
    <input type="text" name="province" maxlength="30" required class="addressinputs" /><br />
    <label>Country</label><br />
    <input type="text" name="country" maxlength="30" required class="addressinputs" /><br />
    <label>Postal Code</label><br />
    <input type="text" name="postalcode" maxlength="10" required class="addressinputs" />
</fieldset>